.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    position: sticky;
    background-color: whitesmoke;
    max-width:1280px;
    height: 694px;
}

div.product-container{
    width:1128px;
    height: 320px;
}

div.product-name-container, div.bookmark-name-container{
    width:179px;
    height: 38px;
    font-size: 25px;
    font-weight: bold;
}

div.bookmark-container{
    width:1128px;
    height: 320px;
    background-color: lightpink;
}
